div.wpcf7 {
    margin: 0 2%;
    text-align: center;
    .wpcf7-text, .wpcf7-textarea, .wpcf7-number {
        font-size: 1rem;
        color: $menuColor;
        padding: .65rem .5rem;
        margin: 10px;
        border-radius: 4px;
        border: 1px solid #999;
    }

    .screen-reader-response {
        color: red;
    }

    .screen-reader-response ul{
        display: none;
    }

    .wpcf7-not-valid-tip {
        color: red;
        display: block;
    }

    .wpcf7-submit {
        -webkit-appearance: none;
        width: 351px;
        background-color: $menuColor;
        border-radius: 15px;
        border: none;
        font-size: 1rem;
        color: white;
        font-weight: 700;
        padding: .75rem;
    }
}

/* News Content */
.news{
    padding: .5rem 0 .5rem 0;
    .news-content {
        padding: .5rem 2% 0 2%;
        .date-post{
            background-color: $secondaryColor;
            float: left;
            padding: .5rem;
            color: white;
            margin: .5rem;
            h2 {
                font-weight: 500;
            }

            p {
                font-weight: 400;
            }
        }

        .post-content-text{
            h3 {
                font-weight: 500;
            }

            .news-short-content {
                font-weight: 300;
                margin-left: 5.5rem;
            }

            a.news-more-link {
                -webkit-appearance: none;
                background-color: $menuColor;
                border-radius: 15px;
                border: none;
                font-size: 1rem;
                color: white;
                font-weight: 700;
                padding: .75rem;
                float: right;
                margin-bottom: 20px;
                text-decoration: none;
            }
        }
    }
}

div.news_pagination {
    text-align: center;
    padding-top: 1rem;
    .page-numbers {
        background-color: $secondaryColor;
        padding: .2rem;
    }
    a{
        color: white;
    }
    a:hover {
       opacity: .9;
    }
    .current{
        background-color: $menuColor;
        color: white;
        padding: .2rem;
    }
}

div figure.newsPhoto {
    width: 100%;
    margin: 0;
    img {
        width: 100%;
    }
}

@media only screen and (min-width: 35em){
    div figure.newsPhoto {
    width: 50%;
    float: right;
    margin-left: 2%;
}
}